/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: #f1f2f6;}

.security-color{
    background-color: rgb(108,179,62);
}


.customnavbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    /*
  radial-gradient(circle farthest-side at center bottom,#009cde,#003087 0)
    */
  }
  
  .custombutton{
   color: #003087;
   font-weight: bold;
   background-color: white; 
   border-color: #003087;
   border-style: solid;
   border-radius: 10px;
   border-width: 2px;
  }
  .custombutton:hover{
   color: white;
   font-weight: bold;
   background-color: #003087; 
   border-color: #002467;
   border-style: solid;
   border-radius: 12px;
   border-width: 2px;
  }
  .custombutton:focus{
    background-color: #003087; 
  }
  
  .custombuttonfull{
    color: white;
    font-weight: bold;
    background-color: #003087; 
    border-color: #002467;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
   }
  
   .custombuttonfull:hover{
    color: white;
    font-weight: bold;
    background-color: #00205c; 
    border-color: #002467;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
   }
  
  .custombuttonfull:focus{
    background-color: #003087; 
  }
  
  .imglogosec{
    width: 50px;
  }
  
  .footersecurity{
    color: #fff;
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 0);
  }
  
  .imgourteam{
    width: 100px;
  }
  
  .imgcertlogo{
    width: 50%;
  }
  
  .color1cert{
    color: #094f89;
  }
  .color2cert{
    color: #00a0b0;
  }
  .color3cert{
    color: #8be381;
  }
  
  .imgwellcome{
    width: 80%;
  }

  .cardstyle{
    border-radius: 10px;
  }

  .revokedCertCss{
    color: red;
  }