<nav class="navbar navbar-expand-lg  py-3 fixed-top customnavbar">
  <div class="container">
    <a href="#"><img src="../assets/Security-Logo.png" alt="logo" class="img-fluid imglogosec"></a>
    <a href="#" class="navbar-brand text-dark">PKI Security</a>

  

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a href="" class="nav-link text-dark">Wellcome <b>{{getUsername()}}</b></a>
        </li>

        <li class="mx-1">
          <a routerLink="/add-root-certificate">
            <button type="button" *ngIf="isAdmin" class="btn custombutton btn-primary">Create RootCertificate</button>
          </a>
        </li>
        <li class="mx-1">
          <a routerLink="/add-certificate">
            <button type="button" *ngIf="isAdmin" class="btn custombutton btn-primary">Create CA/End Entity
              Certificate</button>
          </a>
        </li>
        <li class="mx-1">
          <a routerLink="/all-certificates">
            <button type="button" *ngIf="isAdmin" class="btn custombutton btn-primary">All
              Certificates</button>
          </a>
        </li>
        <li class="mx-1">
          <a routerLink="/add-certificate">
            <button type="button" *ngIf="isUser" class="btn custombutton btn-primary">Create CA/End Entity
              Certificate</button>
          </a>
        </li>
        <li class="mx-1">
          <a routerLink="/my-certificates">
            <button type="button" *ngIf="isUser" class="btn custombutton btn-primary">My
              Certificates</button>
          </a>
        </li>

        
        
        <li class="mx-1" *ngIf="!logged">
          <a href="#loginidgo">
            <button class="btn custombutton btn-dark">Log in</button>
          </a>
        </li>
        <!--
        <li class="mx-1">
          <button class="btn custombuttonfull btn-dark">Sign in</button>
        </li>
        <li>
        </li>
        -->
        <li class="ms-5">
          <a routerLink="/Service/Sign_in">
            <button type="button" *ngIf="logged" class="btn custombuttonfull btn-primary" (click)="logOut()">Log out</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 70px;"></div>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="p-5 footersecurity text-white position-relative">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead">Copyright &copy; 2022 Bezbednost u sistemima elektronskog poslovanja</p>
      </div>
    </div>
  </div>
</footer>