<div style="height: 120px;"></div>
<div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-6">
        
        <div class="input-login-style">
          <label class="form-label">Email</label>
            <input
              
              type="text"
              placeholder=""
              class="form-control"
            />
            <br>
            <label class="form-label">Password</label>
            <input
            
              type="password"
              placeholder=""
              class="form-control"
            />
            <br> <br>
            <button type="button" style="width: 100%;" class="btn btn-secondary">
              Log in</button>
        </div>
     
      </div>
      <div class="col-sm-6">
        <img
        src="../assets/undraw_secure_login_pdn4.svg"
        class="img-fluid"
        alt=""
        />
      </div>
    </div>
  </div>
